<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.rtj.dao.IWxAppinfoDao" >    
      <resultMap id="BaseResultMap" type="com.rtj.dto.WxAppinfo">  
        <result column="ID" property="id" jdbcType="INTEGER" />  
        <result column="APP_ID" property="appId" jdbcType="VARCHAR" />  
        <result column="APP_SECRET" property="appSecret" jdbcType="VARCHAR" />  
        <result column="ACCESS_TOKEN" property="accessToken" jdbcType="VARCHAR" />
    </resultMap> 
    <sql id="Base_Column_List">  
        ID, APP_ID, APP_SECRET, ACCESS_TOKEN  
    </sql>  
  
    <!-- 查询-->  
   <select id="queryById" resultMap="BaseResultMap"  
       parameterType="java.lang.Integer">  
       select  <include refid="Base_Column_List" />   from T_WX_APPINFO  
       where ID = #{id,jdbcType=INTEGER}  
   </select>  

   <!-- 更新用户 -->  
    <update id="updateAccessToken" parameterType="java.lang.String" >    
        update T_WX_APPINFO    
        <set >    
            ACCESS_TOKEN = #{1},    
        </set>    
       where APP_ID = #{0}  
    </update>  
    
</mapper>  